body	{
    		margin: 0;
    		padding: 0;
		background color: #484848;
	    	font-size: 14px;
	    	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

.content {min-height: calc(100vh - 130px);}
